<h1>Elena MR says hi!</h1>
<p>With a bachelor in advertisement and PR, a master in Communications Management, PR and protocol and several work experiences in my back, I've finally arrived here to offer you my biggest passion: the stories, the life.</p>
