<% cache do %>
<% sleep 2 %>
<div class= "header">
<% end %>
  <h1>Elena MR says hi!</h1>
  <p>With a bachelor in advertisement and PR, a master in Communications Management, PR and protocol and several work experiences in my back, <br> I've finally arrived here to offer you my biggest passion: the stories, the life.</p>
<%= image_tag("th.jpg", class: "img-responsive the-girls" ) %>
<%= image_tag("secondsex.jpg", class: "img-responsive second-sex") %>
<%= image_tag("femaleeunuch.jpg", class: "img-responsive female-eunuch") %>
</div>
