<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you for your purchase.</p>

  </div><!-- / panel-body -->
</div><!-- / panel -->
<%= link_to "Products", products_path %>
