h1 {
  text-align: center;
  color: black;
  font-family: helvetica;
  margin-top: 60px;
}

th {
  text-align: center;
}

.header {
  padding-top: 60px;
}

.carousel {
   margin-top: 70px;
 }

 .page-wrap {
   margin-top: 80px;
 }
.product-description p {
  text-align: left;

}
    // Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
